body{
      font-family: "BBH Sans Hegarty", sans-serif;

}
.grid-container{
    background-color: lightblue;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100px 100px;   */
}
.box{
    background-color: lightcoral;
    border: 2px solid black;
}
/* On mobile: 1 col
on devices bigger than 700px: 2 col
on devices bigger then 1200px: 3 col */
@media screen  and (min-width: 700px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 50px);
        /* Thickness of row grid-lines */
        row-gap: 1rem;
        /* Thickness of column grid-lines */
        column-gap: 1rem;
        /* Row column */
        gap: 1rem 1rem;
    }
    
}
@media screen and (min-width: 1200px){
    .grid-container{
        /* grid-template-columns: 1fr 1fr 1f; */
        grid-template-columns: repeat(3, 1fr);

    }

}
.grid-container2{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 100px 400px 1fr;
    grid-template-rows: 40px 60px;
    gap: 1rem;
}
    
/* Grid items positioning by lines */
.grid-container3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* creates 4 rows */
    /* grid-template-rows: repeat(4, 50px); */
    grid-auto-rows: 50px;
}
.box1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1/4;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1/3;
}
.box2{
    /* grid-row-start: 3;
    grid-row-end: 5; */
    grid-row: 3/5;
}
.box3{
    grid-column: 2/4;
    grid-row: 3/5;
}
.box5{
    grid-column: 2/4;
}
.grid-container4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;

}
.box14{
    grid-column: 1 / span 3;
    grid-row: 1/ span 2;
}
.box24{
    grid-row: 3 / span 2;
}
.box34{
    grid-column: 2 / span 2 ;
    grid-row: 3 / span 2;
}
/* position using areas */
.grid-container5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 60px);
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
}
/* 1. assign names 
2. use names for positioning*/
.a{
    grid-area: a;
    background-color: lightblue;
}
.b{
    grid-area: b;
    background-color: lightcoral;
}
.c{
    grid-area: c;
    background-color: lightgreen;

}
.d{
    grid-area: d;
    background-color: lightgrey;
}
.aboutus{
    display: grid;
    grid-template-columns: 1fr;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    align-items: center;
    justify-items: center;
}
.item1 {
    grid-row: 1/3;
    background-color: lightgrey;
}
.item2{
    grid-row: 1/3;
    background-color: lightcyan;
}
.item3{
    background-color: lightblue;
    grid-row: 3/5;
}
.item4{
    background-color: lightsalmon;
    grid-row: 3/5;
}
@media screen and (min-width: 400px) {
    .grid-container{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "a a"
        "b c"
        "b c"
        "d d";
    }
    .aboutus{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}