/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS start*/
body{
    background-color: #f6f8fb;
    color: #222;
    line-height: 1.4;
    margin: 0 0.2rem;
}
.wrapper{
    background-image: url(https://images.unsplash.com/photo-1707344088547-3cf7cea5ca49?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    padding: 4rem 1rem;
    background-position: center;
    color: #000000;
}
.header{
    background-color: #ababab;
    opacity: 0.75;
    padding: 1.2rem 0.5rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.75rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
/* nav styles */
nav{
    margin-top: 0.8rem;
    background-color: #fff;
    padding: 0.5rem;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: inherit;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
nav a:hover, nav a:focus{
    background-color: black;
    color: white;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}
/* Home section */
.services{
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.services img, .card img{
    width: 100%;
}
/* popular destinations */
#destination{
    margin-top: 0.8rem ;
}
.cards{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}
.card{
    background-color:#fff;
    border: 1px solid #444;
    padding: 0.5rem;
}
.gallery{
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}
/* styles for tablets (anything 700px and over) */
@media screen and (min-width: 700px){
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }
    .services{
        grid-template-columns: 1fr 1fr;
    }
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
    .gallery h2, .gallery p{
        grid-column: 1/3;
    }

}
@media screen and (min-width: 1200px){
    .cards{
        grid-template-columns: repeat(4, 1fr);
    }

}