body{
    color: rgb(26, 235, 158);
    background-color: black;
    text-align: left;
    margin-left: 30px;
}

/* this is a commment */

footer{
    color: rgb(81, 221, 243);
    text-align: center;
    
}