body{
    color: rgb(26, 235, 158);
    background-color: rgb(0, 0, 0);
    margin-left: 30px;
}

/* this is a commment */

footer{
    color: rgb(81, 221, 243);
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    
}

header{
    text-align: center;
}
h1, h2 {
    color: red;
}

main article p{
    font-weight: bold;
}
/*
use . for class
use # for id

*/

.purple{
    color: purple;
}

.italic{
    font-style: italic;
}

 #orange{
    color: orange;
 }

 main > p{
    font-family:Arial, Helvetica, sans-serif ;
 }

 a[href^="http"]{
    font-weight: bold;
 }

 a {
    font-size: 1.2rem;
 }

 /* LVHA (love hate) */
 a:link {
    color:red;
 }

 a:visited{
    color: rgb(187, 29, 255);
 }
 a:hover{
    text-decoration: none;
    color: darkblue;
 }
 a:active{
    background-color: yellow;
 }

 aside li:nth-child(odd){
    background-color: rgb(217, 18, 52);
 }