body{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #aad4cf;
    margin: 0;

}
.wrapper{
    background-color: aquamarine;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
main {
  padding: 10px 10px; /* adds space on left & right */
}

header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #97b1ad;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}

/* Centers the h1 on top of the image */
header h1 {
  position: absolute;
  top: 50%;                /* move halfway down the image */
  left: 50%;               /* move halfway across the image */
  transform: translate(-50%, -50%); /* center perfectly */
  color: white;
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}
.float img{
  height: 300px;
  width: 300px;
  margin: 14px;

  float: left;
}
.float p{
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 90px; /* makes bar uniform height */
}

nav li {
  border-right: 1px solid #222; /* the black line dividers */
  padding: 0 10%;
}

nav li:last-child {
  border-right: none; /* removes line after Contact */
}

nav a {
  text-decoration: none;
  color: #222;
  font-size: 1.5rem;
}

.form form{
  border: 1px solid black;
  padding-top: 20px;
}
.form input{
  width: 95%;
  margin: 10px;
  border: 1px solid lightgray;
}
.form label, h3{
  margin-left: 10px;
}

textarea{
  width: 95%;
  height: 100px;
  margin: 10px;
  border: 1px solid grey;
}
.radio{
  display: flex;
}
.radio #yes {
  position: relative;
  top: 25px;
}
.radio #no{
  position: relative;
  top: 25px;

}
.radio #maybe{
  position: relative;
  top: 25px;
  left: 20px;
} 
.radio label{
  position: relative;
  bottom: 20px;
}


button{
  padding: 10px ;
  background: none;
  margin: 10px;
}

footer{
  text-align: right;
  padding: 20px;
}