body{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #aad4cf;
    margin: 0;

}
.wrapper{
    background-color: aquamarine;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
main {
  padding: 10px 10px; 
}

header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #97b1ad;
}

header img {
  width: 100%;
  height: auto;
  display: block;
}
header h1 {
  position: absolute;
  top: 50%;                
  left: 50%;               
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 2.5em;
  margin: 0;
  font-weight: bold;
}
.float img{
  height: 300px;
  width: 300px;
  margin: 14px;

  float: left;
}
.float p{
  margin-left: 10px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0;
  margin-top: 5px;
  border-right:1px solid black ;
  padding: 0 10%;
  font-size: 1.2em;  
}
nav a {
  text-decoration: none;
  color: black;
  
}

nav li:last-child {
  border-right: none;
}



.form form{
  border: 1px solid black;
  padding-top: 20px;
}
.form input{
  width: 95%;
  margin: 10px;
  border: 1px solid lightgray;
}
.form label, h3{
  margin-left: 10px;
}

textarea{
  width: 95%;
  height: 100px;
  margin: 10px;
  border: 1px solid grey;
}
.radio{
  display: flex;
}
.radio #yes {
  position: relative;
  top: 25px;
}
.radio #no{
  position: relative;
  top: 25px;

}
.radio #maybe{
  position: relative;
  top: 25px;
  left: 20px;
} 
.radio label{
  position: relative;
  bottom: 20px;
  margin-right: 0px;
}


button{
  padding: 10px ;
  background: none;
  margin: 10px;
}

footer{
  text-align: right;
  padding: 20px;
}