body{
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #aad4cf;
    margin: 0;

}
.wrapper{
    background-color: aquamarine;
    width: 60%;
    margin: 0 auto;
}
header{
    position: relative;
}

header img{
    width: 100%;
}
h1{
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    font-size: 3em;
    
    
}
nav ul{
    text-align: center ;

}

nav li{
    display: inline;
    padding: 10px;
    
}
nav li a{
    text-decoration: none;
}