h1{
    font-size: 2.5rem;
    color: firebrick;
}
@media screen and (max-width: 699px){
    /* styles for max width 699 and under */
    h1{
        color: gold;
    }
}
@media screen and (min-width: 699px){
    /* styles for min width 699 over */
    h1{
        color: blue;
    
    }
}
@media  screen and (min-width: 1200px){
    h1{
        font-size: 3.5rem;
    }   
}


/* 
mobile: bg- purple, colr - white
tablet 700: bg- red, color - white
laptop 1299: bg- green, color - gray */

/* for 900 - 1000px change the bg to white and color to blaxk */

.newsDescription{
    background-color: purple;
    color: white;
}

@media screen and (min-width: 799px){
    .newsDescription{
        background-color: red;
    }
}
@media screen and (min-width: 900px) and (max-width: 1000px){
    .newsDescription{
        background-color: white;
        color: black;
    }    
}
@media screen and (min-width: 1299px){
    .newsDescription{
        background-color: green;
        color: grey;
    }

    
}