/* on mobile: bg - red, border - black no radius
on laptop: bg - yellow, border - black whith radius */

/* on mobile: dont show second para
on laptop: show both */

.avatar{
    width: 300px;
    height: 300px;
    background-color: red;
    border: 2px solid black;

}
.secondPara{
    display: none;
}
/* .linkTest::after{
    content: "test.";
    
} */

@media screen and (min-width: 1200px){
    .avatar{
        background-color: yellow;
        border-radius: 50%;
    }
    .secondPara{
        display: block;
    }
}

@media print{
    a::after{
        content:" <" attr(href);
    }
}