/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css start */
body{
	line-height: 1.4;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
	color: #222222;

}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.navigation{
	background-color: #222222;
	padding: 0.5rem;
	width: 100%;
}
.image-logo{
	background-color: #c78c06;
	padding: 0.7rem 0rem 3.5rem 0rem;
	width: 100%;
}
.navigation nav{
	margin-top: -3rem;
}
.home-link{
	color: #222222;
}
nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 3.6rem;
}
nav a{
	text-decoration: none;
	color: #c78c06;
}

.search-form{
	display: flex;

}
.search-form input{
	flex: 1;
	padding: 0.5rem;
}
.search-form button{
	background-color: #222;
	border: 1px solid #c78c06;
	color: #c78c06;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.hero{
	background-image: url(../images/main-banner.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 450px;
	display: flex;
	align-items: center;
	padding: 3rem 0rem;
}
.hero-content{
	background-color: rgba(34, 34, 34, 0.9);
	color: #ffffff;
	padding: 1rem 1rem;
	margin-right: 0;
}

.hero-content h1{
	font-size: 3.5rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
	line-height: 1.8;
}
.hero-content p{
	font-size: 0.95rem;
	margin-bottom: 2rem;
}
.hero-content a{
	display: inline-block;
	background-color: #c78c06;
	text-decoration: none;
	padding: 0.9rem 2.3rem;
	color: #222222;
	font-weight: bold;
}
.hero-content a:hover{
	cursor: pointer;
}
/* About us */
.about-us{
	background-color: #ffe6ac;
	padding: 2rem 1rem;
}
.about-us img{
	width: 100%;
	display: block;
}
.about-text{
	padding-top: 1.5rem;
}
.about-text h2{
	font-size: 2.5rem;
	font-weight: bold;
}
.about-text p{
	font-size: 0.9rem;
	line-height: 1.6;
	margin-top: 1rem;
}
/* Services */
.services{
	padding: 2rem 1rem;
}
.services h2{
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.service{
	background-color: #ffe6ac;
	margin-bottom: 0.5rem;
}
.service img{
	width: 100%;
	display: block;

}
.service-content{
	padding: 1rem;
}
.service-content h3{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.7rem;
}
.service-content p{
	font-size: 0.9rem;
	line-height: 1,5rem;
	margin-bottom: 1rem;

}
/* button style for service cards */
.btn{
	display: inline-block;
	background-color: #222222;
	color: #ffffff;
	text-decoration: none;
	padding: 1.6rem;
	font-size: 0.85rem;
}
/* Vison section */
.vision-content{
	background-image: url(../images/vision.jpg);
	background-size: cover;
	background-position: center;
	color: #ffffff;
	padding: 1.5rem;
}
.vision-content h2{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.vision-content p{
	font-size: 0.9rem;
	line-height: 1.6;
	margin-bottom: 1rem;

}
.vision-content a{
	display: inline-block;
	text-decoration: none;
	padding: 1.3rem;
	background-color: #222222;
	border: 1px solid #c78c06;
	color: #ffffff; 
	font-size: 1rem;
}
/* team */